:root
{
    --color-black:#000;
    --color-white:#fff;
    --color-a:#4c7cf5;
    --color-a-visited:#8d4cf5;
    --font-sans-serif:system-ui,-apple-system,'Segoe UI',Roboto,'Helvetica Neue','Noto Sans','Liberation Sans',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    --font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,'Liberation Mono','Courier New',monospace;
}

@-ms-viewport
{
    width:device-width;
}

#root, #__next
{
    isolation:isolate;
}

*, *::before, *::after
{
    box-sizing:border-box;
}

html:focus-within
{
    scroll-behavior:smooth;
}

html, body, #__next
{
    min-height:100%;
}

body
{
    font-family:var(--font-sans-serif);
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
}

blockquote, body, button, dd, dl, figure, h1, h2, h3, h4, h5, h6, input, p, select, textarea
{
    margin:0;
}

canvas, iframe, img, picture, svg, video
{
    max-width:100%;
}

canvas, img, picture, svg, video
{
    display:block;
}

h1, h2, h3, h4, h5, h6, p
{
    overflow-wrap:break-word;
}

hr
{
    border:1px solid var(--color-black);
}

a
{
    color:var(--color-a);
}
a:visited
{
    color:var(--color-a-visited);
}

a:not([class])
{
    text-decoration-skip-ink:auto;
}

abbr[title]
{
    border-bottom:2px dotted var(--color-black);
    cursor:help;
    text-decoration:none;
}

q::before
{
    content:'« ';
}
q::after
{
    content:' »';
}

address
{
    font-style:normal;
}

ol[role='list'], ul[role='list']
{
    list-style:none;
}

sub, sup
{
    font-size:75%;
    line-height:0;
    position:relative;
}

code, pre
{
    font-family:var(--font-monospace);
}

pre
{
    overflow:auto;
}

table
{
    border-collapse:collapse;
}

caption
{
    caption-side:bottom;
    font-style:italic;
}

button, input, select, textarea
{
    font:inherit;
}

datalist:disabled, input:disabled, select:disabled, textarea:disabled
{
    cursor:not-allowed;
}

button:not(:disabled), summary, [type=button]:not(:disabled), [type=submit]:not(:disabled), [type=reset]:not(:disabled)
{
    cursor:pointer;
}

[type="button"], [type="color"], [type="checkbox"], [type="radio"], [type="reset"], [type="submit"]
{
    width:initial;
}

@media(prefers-reduced-motion:reduce)
{
    html:focus-within
    {
        scroll-behavior:auto;
    }

    *, *::before, *::after
    {
        animation-duration:0.01ms !important;
        animation-iteration-count:1 !important;
        scroll-behavior:auto !important;
        transition-duration:0.01ms !important;
    }
}
